---
import DevProjectCard from "../components/dev-mode/DevProjectCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const devProjects = [
  {
    name: "Pixel Art Maker",
    site: "https://k-pixel-art.netlify.app/",
    repository: "https://github.com/kike9978/pixel-art",
    description: "A fun and colorful etch-a-sketch",
    technologies: ["JavaScript", "HTML", "CSS"],
    imagePath: "/src/assets/dev-mode/pixel-art.png",
    show: true,
  },
  {
    name: "Restaurant page",
    site: "https://ktop-restaurant-page.netlify.app/",
    repository: "https://github.com/kike9978/top-restaurant-page",
    description: "A responsive restaurant single page site",
    technologies: ["JavaScript", "HTML", "CSS", "Webpack"],
    imagePath: "/src/assets/dev-mode/restaurant-page.png",
    show: true,
  },
  {
    name: "Cool spaceship",
    site: "https://colombofilo.itch.io/naves-chidas",
    repository: null,
    description: "A fun space shooter, are you up to the challenge",
    technologies: ["Unity", "Photoshop", "Maya"],
    imagePath: "/src/assets/dev-mode/cool-rocket.png",
    show: true,
  },
  {
    name: "Rock, Paper, Scissors",
    site: "https://k-piedra-papel-tijeras.netlify.app/",
    repository: "https://github.com/kike9978/rock-paper-scissors",
    description: "The classic game meets a strategy game",
    technologies: ["JavaScript", "HTML", "CSS"],
    imagePath: "/src/assets/dev-mode/r-p-s.png",
    show: true,
  },

  {
    name: "Cofee shop website",
    site: "https://k-patio-cafe-lp.netlify.app/",
    repository: "https://github.com/kike9978/patio-cafe-lp",
    description: "Responsive static webpage for a coffee shop.",
    technologies: ["HTML", "CSS"],
    imagePath: "/src/assets/dev-mode/cofee-shop.png",
    show: true,
  },
  {
    name: "Calculator",
    site: "https://k-calculator.netlify.app/",
    repository: "https://github.com/kike9978/calculator",
    description: "A calculator app made with vanilla JS",
    technologies: ["JavaScript", "HTML", "CSS"],
    imagePath: "/src/assets/dev-mode/calculator.png",
    show: true,
  },

  {
    name: "Responsive product card",
    site: "https://fem-product-review-card-component.netlify.app/",
    repository: "https://github.com/kike9978/fem-product-review-card",
    description: "Showcase of a responsive card UI Component",
    technologies: ["HTML", "CSS"],
    imagePath: "/src/assets/dev-mode/product-review-card.png",
    show: true,
  },
  {
    name: "Mexican recipes",
    site: "https://recetasmexicanas.netlify.app/",
    repository: "https://github.com/kike9978/recetario-mexicano",
    description: "A collection of Mexican recipes",
    technologies: ["Astro", "JavaScript", "TailwindCss"],
    imagePath: "/src/assets/dev-mode/r-p-s.png",
    show: false,
  },

  {
    name: "Tic Tac Toe",
    site: "https://topjsgatok.netlify.app/",
    repository: "https://github.com/kike9978/js-game-test",
    description: "The classic game made with vanilla javascript",
    technologies: ["JavaScript", "HTML", "CSS"],
    imagePath: "/src/assets/dev-mode/tic-tac-toe.png",
    show: true,
  },

  {
    name: "Course compendium",
    site: null,
    repository: "https://github.com/kike9978/personal-course-library",
    description:
      "A computer application to get access to all of your local courses",
    technologies: ["Electron", "React", "Vite", "Electron-vite", "CSS"],
    imagePath: "/src/assets/dev-mode/biblioteca-de-cursos.png",
    show: true,
  },

  {
    name: "Book library",
    site: "https://ktoplibrary.netlify.app/",
    repository: "https://github.com/kike9978/top-project-library",
    description: "A web app to track your book records",
    technologies: ["JavaScript", "HTML", "CSS", "Webpack"],
    imagePath: "/src/assets/dev-mode/r-p-s.png",
    show: false,
  },
];
---

<BaseLayout title="Dev mode">
  <h1
    class="mt-20 md:mt-36 text-center text-7xl lg:text-9xl font-extrabold font-heading bg-clip-text text-transparent dark:filter dark:invert bg-[radial-gradient(at_right_top,_var(--tw-gradient-stops))] from-[rgba(149,_186,_177,_1)] to-[rgba(4,_26,_39,_1)]"
  >
    Dev Portfolio
  </h1>
  <p class="text-center text-2xl md:text-3xl max-w-2xl mx-auto mt-7">
    A collection of my personal dev projects, ranging from web apps, static
    sites and videogames
  </p>

  <div
    class="flex flex-wrap gap-4 md:gap-6 justify-center items-center w-[min(100%,_1200px)] mx-auto mt-28"
  >
    {
      devProjects.map((project) => {
        return project.show && <DevProjectCard {...project} />;
      })
    }
  </div>
  <div class="flex w-full md:justify-start justify-center mt-20">
    <a href="/" class="text-white px-1 relative dev-mode-button transition-all"
      ><svg
        width="170"
        height="171"
        viewBox="0 0 170 171"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M11.5394 45.6384L27.9694 44.1284L24.1794 28.0684C23.4294 24.9084 26.3194 22.0984 29.4594 22.9184L45.4194 27.1184L47.3494 10.7284C47.7294 7.50844 51.4094 5.84843 54.0694 7.69843L67.6294 17.1084L75.0494 2.36843C76.5094 -0.531565 80.5294 -0.831565 82.3994 1.81843L91.9194 15.2984L103.929 3.98844C106.289 1.75844 110.179 2.85843 111.029 5.98843L115.369 21.9084L130.529 15.3884C133.509 14.1084 136.789 16.4584 136.519 19.6984L135.149 36.1384L151.619 35.1984C154.859 35.0084 157.129 38.3484 155.769 41.2984L148.859 56.2784L164.659 61.0284C167.769 61.9584 168.759 65.8684 166.479 68.1784L154.859 79.8984L168.089 89.7684C170.689 91.7084 170.289 95.7184 167.349 97.1084L152.429 104.148L161.479 117.938C163.259 120.648 161.509 124.288 158.279 124.578L141.849 126.088L145.639 142.148C146.389 145.308 143.499 148.118 140.359 147.298L124.399 143.098L122.469 159.488C122.089 162.708 118.409 164.368 115.749 162.518L102.189 153.108L94.7694 167.848C93.3094 170.748 89.2894 171.048 87.4194 168.398L77.8994 154.918L65.8894 166.228C63.5294 168.458 59.6394 167.358 58.7894 164.228L54.4494 148.308L39.2894 154.828C36.3094 156.108 33.0294 153.758 33.2994 150.518L34.6694 134.078L18.1994 135.018C14.9594 135.208 12.6894 131.868 14.0494 128.918L20.9594 113.938L5.15943 109.188C2.04943 108.258 1.05943 104.348 3.33943 102.038L14.9594 90.3184L1.72943 80.4484C-0.87057 78.5084 -0.47057 74.4984 2.46943 73.1084L17.3894 66.0684L8.33943 52.2784C6.55943 49.5684 8.30943 45.9284 11.5394 45.6384Z"
          fill="black"></path>
        <g clip-path="url(#clip0_693_1745)">
          <path
            d="M73.5203 104.87L98.0303 104.87"
            stroke="white"
            stroke-width="2"
            stroke-miterlimit="10"></path>
          <path
            d="M79.3906 99.76L73.5206 104.87L79.3906 110"
            stroke="white"
            stroke-width="2"
            stroke-miterlimit="10"></path>
        </g>
        <path
          d="M43.8797 87.23C41.8251 87.23 40.2841 86.678 39.2567 85.574C38.2447 84.47 37.7387 82.7527 37.7387 80.422V71.59H40.3377V80.445C40.3377 81.963 40.6137 83.0593 41.1657 83.734C41.7331 84.4087 42.6454 84.746 43.9027 84.746C45.1907 84.746 46.1031 84.4087 46.6397 83.734C47.1764 83.0593 47.4447 81.963 47.4447 80.445V71.59H50.0437V80.422C50.0437 82.7527 49.5454 84.47 48.5487 85.574C47.5521 86.678 45.9957 87.23 43.8797 87.23ZM65.543 87H62.277L57.907 80.192L56.964 79.778L51.375 71.59H54.664L58.827 78.398L59.954 78.904L65.543 87ZM54.273 87H51.03L56.527 78.927L57.884 78.352L62.093 71.59H65.198L59.839 79.617L58.62 80.1L54.273 87ZM78.8291 87.184C77.2498 87.184 75.9081 86.8313 74.8041 86.126C73.7001 85.4207 72.8568 84.47 72.2741 83.274C71.7068 82.078 71.4231 80.744 71.4231 79.272C71.4231 77.7847 71.7068 76.4507 72.2741 75.27C72.8568 74.074 73.7001 73.1233 74.8041 72.418C75.9081 71.7127 77.2498 71.36 78.8291 71.36C79.9791 71.36 80.9988 71.5517 81.8881 71.935C82.7775 72.303 83.5365 72.8397 84.1651 73.545C84.8091 74.2503 85.3075 75.109 85.6601 76.121L83.4061 77.777C83.2375 77.0103 82.9615 76.328 82.5781 75.73C82.2101 75.132 81.7118 74.6643 81.0831 74.327C80.4698 73.9897 79.7261 73.821 78.8521 73.821C77.7941 73.821 76.9201 74.0587 76.2301 74.534C75.5401 74.994 75.0265 75.6303 74.6891 76.443C74.3518 77.2557 74.1831 78.1987 74.1831 79.272C74.1831 80.33 74.3518 81.273 74.6891 82.101C75.0265 82.9137 75.5401 83.5577 76.2301 84.033C76.9201 84.493 77.7941 84.723 78.8521 84.723C79.7261 84.723 80.4698 84.5543 81.0831 84.217C81.7118 83.8797 82.2101 83.412 82.5781 82.814C82.9615 82.216 83.2375 81.5337 83.4061 80.767L85.6601 82.423C85.3075 83.4197 84.8091 84.2783 84.1651 84.999C83.5365 85.7043 82.7775 86.2487 81.8881 86.632C80.9988 87 79.9791 87.184 78.8291 87.184ZM97.6947 87H96.0847C95.7014 87 95.3487 86.931 95.0267 86.793C94.7047 86.655 94.444 86.4327 94.2447 86.126C94.0454 85.804 93.9457 85.3747 93.9457 84.838V80.56V80.215C93.9457 79.5097 93.8 78.9423 93.5087 78.513C93.2327 78.0683 92.6577 77.846 91.7837 77.846C91.0324 77.846 90.373 78.0377 89.8057 78.421C89.2384 78.8043 88.7937 79.295 88.4717 79.893L86.9307 78.053C87.222 77.6543 87.6054 77.271 88.0807 76.903C88.5714 76.5197 89.1464 76.2053 89.8057 75.96C90.465 75.6993 91.2087 75.569 92.0367 75.569C93.4167 75.569 94.4824 75.9523 95.2337 76.719C96.0004 77.4703 96.3837 78.536 96.3837 79.916V84.125C96.3837 84.3703 96.4297 84.5467 96.5217 84.654C96.629 84.746 96.7824 84.792 96.9817 84.792H97.6947V87ZM90.1967 87.23C89.2767 87.23 88.5484 86.9923 88.0117 86.517C87.4904 86.0417 87.2297 85.3977 87.2297 84.585C87.2297 83.7877 87.4904 83.136 88.0117 82.63C88.533 82.1087 89.2537 81.6717 90.1737 81.319L94.2677 79.594L94.5667 81.227L91.0937 82.791C90.603 83.0057 90.2504 83.2203 90.0357 83.435C89.8364 83.6497 89.7367 83.9027 89.7367 84.194C89.7367 84.516 89.844 84.769 90.0587 84.953C90.2887 85.137 90.6414 85.229 91.1167 85.229C91.546 85.229 91.9294 85.1677 92.2667 85.045C92.6194 84.9223 92.9184 84.7537 93.1637 84.539C93.4244 84.309 93.616 84.0407 93.7387 83.734C93.8767 83.4273 93.9457 83.0823 93.9457 82.699L94.0147 83.78C93.9227 84.286 93.731 84.8073 93.4397 85.344C93.1484 85.8807 92.7344 86.333 92.1977 86.701C91.6764 87.0537 91.0094 87.23 90.1967 87.23ZM103.928 87.23C103.131 87.23 102.372 87.1227 101.651 86.908C100.931 86.6933 100.294 86.3867 99.7422 85.988C99.2056 85.574 98.7916 85.0757 98.5002 84.493L99.9952 82.883C100.225 83.251 100.524 83.6113 100.892 83.964C101.26 84.3167 101.705 84.608 102.226 84.838C102.748 85.0527 103.346 85.16 104.02 85.16C104.572 85.16 105.009 85.0603 105.331 84.861C105.669 84.6463 105.837 84.3473 105.837 83.964C105.837 83.55 105.646 83.251 105.262 83.067C104.879 82.883 104.373 82.7143 103.744 82.561L102.249 82.216C101.667 82.0627 101.115 81.8633 100.593 81.618C100.072 81.3727 99.6502 81.043 99.3282 80.629C99.0062 80.1997 98.8452 79.6477 98.8452 78.973C98.8452 77.915 99.2286 77.087 99.9952 76.489C100.777 75.891 101.812 75.592 103.1 75.592C104.296 75.592 105.301 75.8373 106.113 76.328C106.941 76.8187 107.524 77.3783 107.861 78.007L106.343 79.617C105.96 79.0037 105.469 78.5283 104.871 78.191C104.289 77.8383 103.637 77.662 102.916 77.662C102.41 77.662 102.004 77.7617 101.697 77.961C101.406 78.1603 101.26 78.444 101.26 78.812C101.26 79.2107 101.421 79.5173 101.743 79.732C102.081 79.9313 102.625 80.123 103.376 80.307L104.733 80.652C105.991 80.974 106.872 81.4033 107.378 81.94C107.9 82.4613 108.16 83.1207 108.16 83.918C108.16 84.654 107.969 85.2673 107.585 85.758C107.217 86.2487 106.711 86.6167 106.067 86.862C105.439 87.1073 104.726 87.23 103.928 87.23ZM114.942 87.23C113.838 87.23 112.865 86.9923 112.021 86.517C111.193 86.0263 110.549 85.344 110.089 84.47C109.645 83.5807 109.422 82.561 109.422 81.411C109.422 80.2303 109.645 79.203 110.089 78.329C110.549 77.455 111.178 76.7803 111.975 76.305C112.788 75.8143 113.716 75.569 114.758 75.569C115.878 75.569 116.828 75.799 117.61 76.259C118.392 76.719 118.983 77.3477 119.381 78.145C119.78 78.9423 119.979 79.8623 119.979 80.905C119.979 81.1197 119.972 81.3343 119.956 81.549C119.941 81.7483 119.918 81.9093 119.887 82.032H111.308V80.376H118.185L117.679 80.974C117.679 79.8853 117.426 79.0573 116.92 78.49C116.414 77.9227 115.694 77.639 114.758 77.639C113.869 77.639 113.164 77.9303 112.642 78.513C112.121 79.0957 111.86 79.962 111.86 81.112V81.618C111.86 82.3693 111.983 83.0057 112.228 83.527C112.489 84.0483 112.857 84.447 113.332 84.723C113.808 84.9837 114.352 85.114 114.965 85.114C115.625 85.114 116.161 85.0143 116.575 84.815C117.005 84.6157 117.35 84.3703 117.61 84.079C117.871 83.7723 118.07 83.4657 118.208 83.159L119.795 84.838C119.381 85.4667 118.776 86.0263 117.978 86.517C117.196 86.9923 116.184 87.23 114.942 87.23ZM126.659 87.23C125.861 87.23 125.102 87.1227 124.382 86.908C123.661 86.6933 123.025 86.3867 122.473 85.988C121.936 85.574 121.522 85.0757 121.231 84.493L122.726 82.883C122.956 83.251 123.255 83.6113 123.623 83.964C123.991 84.3167 124.435 84.608 124.957 84.838C125.478 85.0527 126.076 85.16 126.751 85.16C127.303 85.16 127.74 85.0603 128.062 84.861C128.399 84.6463 128.568 84.3473 128.568 83.964C128.568 83.55 128.376 83.251 127.993 83.067C127.609 82.883 127.103 82.7143 126.475 82.561L124.98 82.216C124.397 82.0627 123.845 81.8633 123.324 81.618C122.802 81.3727 122.381 81.043 122.059 80.629C121.737 80.1997 121.576 79.6477 121.576 78.973C121.576 77.915 121.959 77.087 122.726 76.489C123.508 75.891 124.543 75.592 125.831 75.592C127.027 75.592 128.031 75.8373 128.844 76.328C129.672 76.8187 130.254 77.3783 130.592 78.007L129.074 79.617C128.69 79.0037 128.2 78.5283 127.602 78.191C127.019 77.8383 126.367 77.662 125.647 77.662C125.141 77.662 124.734 77.7617 124.428 77.961C124.136 78.1603 123.991 78.444 123.991 78.812C123.991 79.2107 124.152 79.5173 124.474 79.732C124.811 79.9313 125.355 80.123 126.107 80.307L127.464 80.652C128.721 80.974 129.603 81.4033 130.109 81.94C130.63 82.4613 130.891 83.1207 130.891 83.918C130.891 84.654 130.699 85.2673 130.316 85.758C129.948 86.2487 129.442 86.6167 128.798 86.862C128.169 87.1073 127.456 87.23 126.659 87.23Z"
          fill="white"></path>
        <defs>
          <clipPath id="clip0_693_1745">
            <rect
              width="26.03"
              height="11.75"
              fill="white"
              transform="translate(98.0303 110.75) rotate(180)"></rect>
          </clipPath>
        </defs>
      </svg>
    </a>
  </div>
</BaseLayout>
