---
import DevProjectCard from "../components/dev-mode/DevProjectCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const devProjects = [
  {
    name: "Pixel Art Maker",
    site: "https://k-pixel-art.netlify.app/",
    repository: "https://github.com/kike9978/pixel-art",
    description: "A fun and colorful etch-a-sketch",
    technologies: ["JavaScript", "HTML", "CSS"],
    imagePath: "/src/assets/dev-mode/pixel-art.png",
    show: true,
  },
  {
    name: "Rock, Paper, Scissors",
    site: "https://k-piedra-papel-tijeras.netlify.app/",
    repository: "https://github.com/kike9978/rock-paper-scissors",
    description: "The classic game meets a strategy game",
    technologies: ["JavaScript", "HTML", "CSS"],
    imagePath: "/src/assets/dev-mode/r-p-s.png",
    show: true,
  },
  {
    name: "Cool rocket",
    site: "https://colombofilo.itch.io/naves-chidas",
    repository: null,
    description: "A fun space shooter, are you up to the challenge",
    technologies: ["Unity", "Photoshop", "Maya"],
    imagePath: "/src/assets/dev-mode/cool-rocket.png",
    show: true,
  },
  {
    name: "Cofee shop website",
    site: "https://k-patio-cafe-lp.netlify.app/",
    repository: "https://github.com/kike9978/patio-cafe-lp",
    description: "Responsive static webpage for a coffee shop.",
    technologies: ["HTML", "CSS"],
    imagePath: "/src/assets/dev-mode/cofee-shop.png",
    show: true,
  },
  {
    name: "Calculator",
    site: "https://k-calculator.netlify.app/",
    repository: "https://github.com/kike9978/calculator",
    description: "A calculator app made with vanilla JS",
    technologies: ["JavaScript", "HTML", "CSS"],
    imagePath: "/src/assets/dev-mode/calculator.png",
    show: true,
  },

  {
    name: "Responsive product card",
    site: "https://fem-product-review-card-component.netlify.app/",
    repository: "https://github.com/kike9978/fem-product-review-card",
    description: "Showcase of a responsive card UI Component",
    technologies: ["HTML", "CSS"],
    imagePath: "/src/assets/dev-mode/product-review-card.png",
    show: true,
  },
  {
    name: "Mexican recipes",
    site: "https://recetasmexicanas.netlify.app/",
    repository: "https://github.com/kike9978/recetario-mexicano",
    description: "A collection of Mexican recipes",
    technologies: ["Astro", "JavaScript", "TailwindCss"],
    imagePath: "/src/assets/dev-mode/r-p-s.png",
    show: false,
  },
  {
    name: "Restaurant page",
    site: "https://ktop-restaurant-page.netlify.app/",
    repository: "https://github.com/kike9978/top-restaurant-page",
    description: "A restaurant static page",
    technologies: ["JavaScript", "HTML", "CSS"],
    imagePath: "/src/assets/dev-mode/r-p-s.png",
    show: false,
  },
  {
    name: "Tic Tac Toe",
    site: "https://topjsgatok.netlify.app/",
    repository: "https://github.com/kike9978/js-game-test",
    description: "The classic game made with vanilla javascript",
    technologies: ["JavaScript", "HTML", "CSS"],
    imagePath: "/src/assets/dev-mode/tic-tac-toe.png",
    show: true,
  },

  {
    name: "Course compendium",
    site: null,
    repository: "https://github.com/kike9978/personal-course-library",
    description:
      "A computer application to get access to all of your local courses",
    technologies: ["Electron", "React", "Vite", "Electron-vite", "CSS"],
    imagePath: "/src/assets/dev-mode/biblioteca-de-cursos.png",
    show: true,
  },

  {
    name: "Book library",
    site: "https://ktoplibrary.netlify.app/",
    repository: "https://github.com/kike9978/top-project-library",
    description: "A web app to track your book records",
    technologies: ["JavaScript", "HTML", "CSS", "Webpack"],
    imagePath: "/src/assets/dev-mode/r-p-s.png",
    show: false,
  },
];
---

<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
/>
<BaseLayout title="Dev mode">
  <h1 class="font-heading font-bold text-3xl">Dev Portfolio</h1>
  <p>
    A collection of my personal dev projects, ranging from web apps, static
    sites and videogames
  </p>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-2 w-[min(100%,_1000px)] mx-auto"
  >
    {
      devProjects.map((project) => {
        return project.show && <DevProjectCard {...project} />;
      })
    }
  </div>
</BaseLayout>
