---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<BaseLayout>
			<p class="p">
				An User Experience designer who loves solving problems and make
				useful products that users love meet the business needs
			</p>
			<div class="hello-i-m-enrique">
				Hello! I’m <br />
				Enrique Mendoza
			</div>
			<div class="div-3">
				<div class="overlap-group-wrapper">
					<div class="overlap-group">
						<img
							class="mask-group"
							alt="Mask group"
							src="mask-group.png"
						/>
						<div class="text-wrapper-9">3</div>
						<div class="product-wrapper">
							<div class="text-wrapper-10">PRODUCT</div>
						</div>
						<div class="p-ackaging-wrapper">
							<div class="text-wrapper-10">PACKAGING</div>
						</div>
						<div class="admin-wrapper">
							<div class="text-wrapper-10">ADMIN</div>
						</div>
						<img class="img" alt="Vector" src="vector.svg" />
					</div>
				</div>
				<div class="overlap-wrapper">
					<div class="overlap">
						<img
							class="mask-group-2"
							alt="Mask group"
							src="image.png"
						/>
						<div class="text-wrapper-11">1</div>
						<div class="hydroponic-wrapper">
							<div class="text-wrapper-10">HYDROPONIC</div>
						</div>
						<div class="dashboard-wrapper">
							<div class="text-wrapper-10">DASHBOARD</div>
						</div>
						<div class="ad-MIN-wrapper">
							<div class="text-wrapper-10">ADMIN</div>
						</div>
						<div class="farm-wrapper">
							<div class="text-wrapper-10">FARM</div>
						</div>
						<div class="redesign-wrapper">
							<div class="text-wrapper-10">REDESIGN</div>
						</div>
						<img class="vector-2" alt="Vector" src="image.svg" />
					</div>
				</div>
				<div class="div-wrapper">
					<div class="overlap-2">
						<img
							class="mask-group-3"
							alt="Mask group"
							src="mask-group-2.png"
						/>
						<div class="text-wrapper-12">2</div>
						<div class="div-wrapper-2">
							<div class="text-wrapper-10">B2C</div>
						</div>
						<div class="massive-wrapper">
							<div class="text-wrapper-10">MASSIVE</div>
						</div>
						<div class="messaging-wrapper">
							<div class="text-wrapper-10">MESSAGING</div>
						</div>
						<div class="app-wrapper">
							<div class="text-wrapper-10">APP</div>
						</div>
						<img class="vector-3" alt="Vector" src="vector-2.svg" />
					</div>
				</div>
			</div>
		</BaseLayout>
	</body>
</html>
