---
import BaseLayout from "../layouts/BaseLayout.astro";
import CaseStudyCard from "../components/CaseStudyCard.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<BaseLayout>
			<h1 class="hello-i-m-enrique text-center text-9xl">
				Hello! I’m <br />
				Enrique Mendoza
			</h1>
			<p class="text-center text-5xl max-w-2xl mx-auto">
				A User Experience designer who loves solving problems and make
				useful products that users love meet the business needs
			</p>
			<div class="div-3 flex w-full mx-auto">
				<CaseStudyCard number="1" />
				<CaseStudyCard number="2" />
				<CaseStudyCard number="3" />
				<!-- <div class="overlap-wrapper">
					<div class="overlap">
						<img
							class="mask-group-2"
							alt="Mask group"
							src="image.png"
						/>
						<div class="text-wrapper-11">1</div>
						<div class="hydroponic-wrapper">
							<div class="text-wrapper-10">HYDROPONIC</div>
						</div>
						<div class="dashboard-wrapper">
							<div class="text-wrapper-10">DASHBOARD</div>
						</div>
						<div class="ad-MIN-wrapper">
							<div class="text-wrapper-10">ADMIN</div>
						</div>
						<div class="farm-wrapper">
							<div class="text-wrapper-10">FARM</div>
						</div>
						<div class="redesign-wrapper">
							<div class="text-wrapper-10">REDESIGN</div>
						</div>
						<img class="vector-2" alt="Vector" src="image.svg" />
					</div>
				</div>
				<div class="div-wrapper">
					<div class="overlap-2">
						<img
							class="mask-group-3"
							alt="Mask group"
							src="mask-group-2.png"
						/>
						<div class="text-wrapper-12">2</div>
						<div class="div-wrapper-2">
							<div class="text-wrapper-10">B2C</div>
						</div>
						<div class="massive-wrapper">
							<div class="text-wrapper-10">MASSIVE</div>
						</div>
						<div class="messaging-wrapper">
							<div class="text-wrapper-10">MESSAGING</div>
						</div>
						<div class="app-wrapper">
							<div class="text-wrapper-10">APP</div>
						</div>
						<img class="vector-3" alt="Vector" src="vector-2.svg" />
					</div>
				</div> -->
			</div>
		</BaseLayout>
	</body>
</html>
