---
import BaseLayout from "../layouts/BaseLayout.astro";
import CaseStudyCard from "../components/CaseStudyCard.astro";
---

<BaseLayout title="UX Designer">
	<div class="w-full">
		<h1
			class="mt-20 md:mt-36 text-center text-7xl lg:text-9xl font-bold font-heading bg-clip-text text-transparent dark:bg-white dark:text-white bg-[radial-gradient(at_right_top,_var(--tw-gradient-stops))] from-[rgba(149,_186,_177,_1)] to-[rgba(4,_26,_39,_1)]"
		>
			Hello! I’m <br />
			Enrique Mendoza
		</h1>
		<p class="text-center text-2xl md:text-3xl max-w-2xl mx-auto mt-7">
			A User Experience designer who loves solving problems and make
			useful products that users love meet the business needs
		</p>
		<div
			class="div-3 flex flex-col md:flex-row justify-center mx-auto mt-28 gap-12"
		>
			<CaseStudyCard
				number="1"
				title="HYDROPONIC DASHBOARD ADMIN FARM REDESIGN"
				link="./work/hydroponic-farm-admin-dashboard-redesign"
				imagePath={"/src/assets/studies/case-cover.png"}
			/>
			<CaseStudyCard
				number="2"
				title="B2C MASSIVE MESSAGING APP"
				imagePath={"/src/assets/studies/case-cover-1.png"}
				commingSoon={true}
			/>
			<CaseStudyCard
				number="3"
				title="PRODUCT PACKAGING ADMIN"
				imagePath={"/src/assets/studies/case-cover-2.png"}
				commingSoon={true}
			/>
		</div>
	</div>
</BaseLayout>
