---
import BaseLayout from "../layouts/BaseLayout.astro";
import CaseStudyCard from "../components/CaseStudyCard.astro";
import ogImage from "/src/assets/homepage.png";

import imageTest from "/src/assets/peek-a-duck.gif";
---

<BaseLayout
	title="UX Designer"
	image={ogImage.src}
	description="Enrique Mendoza´s UX designer portfolio´s homepage"
>
	<div class="w-full">
		<h1
			class="mt-20 md:mt-36 text-center text-7xl lg:text-9xl font-extrabold font-heading bg-clip-text text-transparent dark:filter dark:invert bg-[radial-gradient(at_right_top,_var(--tw-gradient-stops))] from-[rgba(149,_186,_177,_1)] to-[rgba(4,_26,_39,_1)]"
		>
			Hello! I’m <br />
			Enrique Mendoza
		</h1>
		<p class="text-center text-2xl md:text-3xl max-w-2xl mx-auto mt-7">
			A User Experience designer who loves solving problems and make
			useful products that users love meet the business needs
		</p>
		<div
			class="div-3 flex flex-col md:flex-row justify-center mx-auto mt-28 gap-12 max-w-screen-2xl"
		>
			<CaseStudyCard
				number="1"
				title="New Packing Module for Farm Management"
				imagePath={"/src/assets/studies/case-cover-2.png"}
				link="./work/new-packing-module"
			/>
			<CaseStudyCard
				number="2"
				title="HYDROPONIC DASHBOARD ADMIN FARM REDESIGN"
				link="./work/hydroponic-farm-admin-dashboard-redesign"
				imagePath={"/src/assets/studies/case-cover.png"}
			/>
			<CaseStudyCard
				number="3"
				title="B2C MASSIVE MESSAGING APP"
				imagePath={"/src/assets/studies/case-cover-1.png"}
				commingSoon={true}
			/>
		</div>

		<div class="flex w-full md:justify-end justify-center mt-20">
			<a
				href="/dev-mode"
				class="text-white px-1 relative dev-mode-button transition-all"
				><svg
					width="170"
					height="171"
					viewBox="0 0 170 171"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M11.5394 45.6384L27.9694 44.1284L24.1794 28.0684C23.4294 24.9084 26.3194 22.0984 29.4594 22.9184L45.4194 27.1184L47.3494 10.7284C47.7294 7.50844 51.4094 5.84843 54.0694 7.69843L67.6294 17.1084L75.0494 2.36843C76.5094 -0.531565 80.5294 -0.831565 82.3994 1.81843L91.9194 15.2984L103.929 3.98844C106.289 1.75844 110.179 2.85843 111.029 5.98843L115.369 21.9084L130.529 15.3884C133.509 14.1084 136.789 16.4584 136.519 19.6984L135.149 36.1384L151.619 35.1984C154.859 35.0084 157.129 38.3484 155.769 41.2984L148.859 56.2784L164.659 61.0284C167.769 61.9584 168.759 65.8684 166.479 68.1784L154.859 79.8984L168.089 89.7684C170.689 91.7084 170.289 95.7184 167.349 97.1084L152.429 104.148L161.479 117.938C163.259 120.648 161.509 124.288 158.279 124.578L141.849 126.088L145.639 142.148C146.389 145.308 143.499 148.118 140.359 147.298L124.399 143.098L122.469 159.488C122.089 162.708 118.409 164.368 115.749 162.518L102.189 153.108L94.7694 167.848C93.3094 170.748 89.2894 171.048 87.4194 168.398L77.8994 154.918L65.8894 166.228C63.5294 168.458 59.6394 167.358 58.7894 164.228L54.4494 148.308L39.2894 154.828C36.3094 156.108 33.0294 153.758 33.2994 150.518L34.6694 134.078L18.1994 135.018C14.9594 135.208 12.6894 131.868 14.0494 128.918L20.9594 113.938L5.15943 109.188C2.04943 108.258 1.05943 104.348 3.33943 102.038L14.9594 90.3184L1.72943 80.4484C-0.87057 78.5084 -0.47057 74.4984 2.46943 73.1084L17.3894 66.0684L8.33943 52.2784C6.55943 49.5684 8.30943 45.9284 11.5394 45.6384Z"
						fill="black"></path>
					<g clip-path="url(#clip0_693_1743)">
						<path
							d="M96.51 104.88H72"
							stroke="white"
							stroke-width="2"
							stroke-miterlimit="10"></path>
						<path
							d="M90.6396 109.99L96.5096 104.88L90.6396 99.75"
							stroke="white"
							stroke-width="2"
							stroke-miterlimit="10"></path>
					</g>
					<path
						d="M41.337 87H36.392V84.7H41.038C42.096 84.7 42.9853 84.516 43.706 84.148C44.442 83.78 45.0017 83.205 45.385 82.423C45.7683 81.6257 45.96 80.583 45.96 79.295C45.96 78.007 45.7683 76.972 45.385 76.19C45.0017 75.3927 44.442 74.81 43.706 74.442C42.97 74.074 42.073 73.89 41.015 73.89H36.392V71.59H41.337C42.9317 71.59 44.2733 71.9043 45.362 72.533C46.4507 73.1463 47.271 74.028 47.823 75.178C48.3903 76.328 48.674 77.7003 48.674 79.295C48.674 80.8743 48.3903 82.2467 47.823 83.412C47.271 84.562 46.4507 85.4513 45.362 86.08C44.2887 86.6933 42.947 87 41.337 87ZM38.117 87H35.518V71.59H38.117V87ZM56.0926 87.23C54.9886 87.23 54.0149 86.9923 53.1716 86.517C52.3436 86.0263 51.6996 85.344 51.2396 84.47C50.7949 83.5807 50.5726 82.561 50.5726 81.411C50.5726 80.2303 50.7949 79.203 51.2396 78.329C51.6996 77.455 52.3282 76.7803 53.1256 76.305C53.9382 75.8143 54.8659 75.569 55.9086 75.569C57.0279 75.569 57.9786 75.799 58.7606 76.259C59.5426 76.719 60.1329 77.3477 60.5316 78.145C60.9302 78.9423 61.1296 79.8623 61.1296 80.905C61.1296 81.1197 61.1219 81.3343 61.1066 81.549C61.0912 81.7483 61.0682 81.9093 61.0376 82.032H52.4586V80.376H59.3356L58.8296 80.974C58.8296 79.8853 58.5766 79.0573 58.0706 78.49C57.5646 77.9227 56.8439 77.639 55.9086 77.639C55.0192 77.639 54.3139 77.9303 53.7926 78.513C53.2712 79.0957 53.0106 79.962 53.0106 81.112V81.618C53.0106 82.3693 53.1332 83.0057 53.3786 83.527C53.6392 84.0483 54.0072 84.447 54.4826 84.723C54.9579 84.9837 55.5022 85.114 56.1156 85.114C56.7749 85.114 57.3116 85.0143 57.7256 84.815C58.1549 84.6157 58.4999 84.3703 58.7606 84.079C59.0212 83.7723 59.2206 83.4657 59.3586 83.159L60.9456 84.838C60.5316 85.4667 59.9259 86.0263 59.1286 86.517C58.3466 86.9923 57.3346 87.23 56.0926 87.23ZM68.8527 87H65.5637L61.5847 75.799H64.4367L66.3457 81.894L67.2657 85.321L68.1627 81.894L70.0487 75.799H72.8547L68.8527 87ZM95.4644 87H92.8884V80.008C92.8884 79.226 92.7198 78.6433 92.3824 78.26C92.0451 77.8767 91.4931 77.685 90.7264 77.685C90.2204 77.685 89.8064 77.8153 89.4844 78.076C89.1778 78.3213 88.9478 78.674 88.7944 79.134C88.6411 79.5787 88.5644 80.1077 88.5644 80.721L88.4264 79.663C88.5031 78.973 88.6794 78.3137 88.9554 77.685C89.2468 77.0563 89.6531 76.5503 90.1744 76.167C90.7111 75.7683 91.3858 75.569 92.1984 75.569C93.2564 75.569 94.0614 75.8833 94.6134 76.512C95.1808 77.1407 95.4644 78.0377 95.4644 79.203V87ZM81.6644 87H79.0884V75.799H81.6644V87ZM88.5644 87H85.9884V80.008C85.9884 79.226 85.8198 78.6433 85.4824 78.26C85.1451 77.8767 84.5931 77.685 83.8264 77.685C83.3204 77.685 82.9064 77.8153 82.5844 78.076C82.2778 78.3213 82.0478 78.674 81.8944 79.134C81.7411 79.5787 81.6644 80.1077 81.6644 80.721L81.5264 79.663C81.6031 78.973 81.7794 78.3137 82.0554 77.685C82.3468 77.0563 82.7531 76.5503 83.2744 76.167C83.8111 75.7683 84.4858 75.569 85.2984 75.569C86.3564 75.569 87.1614 75.8833 87.7134 76.512C88.2808 77.1407 88.5644 78.0377 88.5644 79.203V87ZM102.783 87.23C101.71 87.23 100.759 86.9923 99.9309 86.517C99.1183 86.0263 98.4819 85.344 98.0219 84.47C97.5773 83.5807 97.3549 82.561 97.3549 81.411C97.3549 80.2303 97.5773 79.2107 98.0219 78.352C98.4819 77.478 99.1183 76.7957 99.9309 76.305C100.759 75.8143 101.71 75.569 102.783 75.569C103.872 75.569 104.822 75.8143 105.635 76.305C106.463 76.7957 107.107 77.478 107.567 78.352C108.027 79.2107 108.257 80.2303 108.257 81.411C108.257 82.561 108.027 83.5807 107.567 84.47C107.107 85.344 106.463 86.0263 105.635 86.517C104.822 86.9923 103.872 87.23 102.783 87.23ZM102.806 85.091C103.373 85.091 103.864 84.9607 104.278 84.7C104.707 84.4393 105.037 84.0407 105.267 83.504C105.512 82.952 105.635 82.2543 105.635 81.411C105.635 80.537 105.512 79.8317 105.267 79.295C105.037 78.7583 104.707 78.3597 104.278 78.099C103.864 77.8383 103.373 77.708 102.806 77.708C102.269 77.708 101.786 77.8383 101.357 78.099C100.928 78.3597 100.59 78.7583 100.345 79.295C100.115 79.8317 99.9999 80.537 99.9999 81.411C99.9999 82.2543 100.115 82.952 100.345 83.504C100.59 84.0407 100.928 84.4393 101.357 84.7C101.786 84.9607 102.269 85.091 102.806 85.091ZM114.578 87.253C113.658 87.253 112.861 87.023 112.186 86.563C111.511 86.0877 110.99 85.413 110.622 84.539C110.254 83.665 110.07 82.6223 110.07 81.411C110.07 80.1997 110.254 79.1647 110.622 78.306C110.99 77.432 111.504 76.7573 112.163 76.282C112.838 75.8067 113.627 75.569 114.532 75.569C115.391 75.569 116.081 75.7683 116.602 76.167C117.123 76.5503 117.507 77.0563 117.752 77.685C118.013 78.3137 118.181 78.973 118.258 79.663L118.12 80.721C118.12 80.1077 118.028 79.5787 117.844 79.134C117.675 78.674 117.399 78.3213 117.016 78.076C116.633 77.8153 116.142 77.685 115.544 77.685C114.731 77.685 114.057 77.9917 113.52 78.605C112.983 79.2183 112.715 80.1537 112.715 81.411C112.715 82.6683 112.983 83.6113 113.52 84.24C114.072 84.8533 114.754 85.16 115.567 85.16C116.165 85.16 116.648 85.0373 117.016 84.792C117.399 84.5313 117.675 84.1787 117.844 83.734C118.028 83.274 118.12 82.7373 118.12 82.124L118.258 83.159C118.181 83.849 118.02 84.5083 117.775 85.137C117.53 85.7503 117.154 86.2563 116.648 86.655C116.142 87.0537 115.452 87.253 114.578 87.253ZM120.696 87H118.12V71.59H120.696V87ZM128.372 87.23C127.268 87.23 126.294 86.9923 125.451 86.517C124.623 86.0263 123.979 85.344 123.519 84.47C123.074 83.5807 122.852 82.561 122.852 81.411C122.852 80.2303 123.074 79.203 123.519 78.329C123.979 77.455 124.608 76.7803 125.405 76.305C126.218 75.8143 127.145 75.569 128.188 75.569C129.307 75.569 130.258 75.799 131.04 76.259C131.822 76.719 132.412 77.3477 132.811 78.145C133.21 78.9423 133.409 79.8623 133.409 80.905C133.409 81.1197 133.401 81.3343 133.386 81.549C133.371 81.7483 133.348 81.9093 133.317 82.032H124.738V80.376H131.615L131.109 80.974C131.109 79.8853 130.856 79.0573 130.35 78.49C129.844 77.9227 129.123 77.639 128.188 77.639C127.299 77.639 126.593 77.9303 126.072 78.513C125.551 79.0957 125.29 79.962 125.29 81.112V81.618C125.29 82.3693 125.413 83.0057 125.658 83.527C125.919 84.0483 126.287 84.447 126.762 84.723C127.237 84.9837 127.782 85.114 128.395 85.114C129.054 85.114 129.591 85.0143 130.005 84.815C130.434 84.6157 130.779 84.3703 131.04 84.079C131.301 83.7723 131.5 83.4657 131.638 83.159L133.225 84.838C132.811 85.4667 132.205 86.0263 131.408 86.517C130.626 86.9923 129.614 87.23 128.372 87.23Z"
						fill="white"></path>
					<defs>
						<clipPath id="clip0_693_1743">
							<rect
								width="26.03"
								height="11.75"
								fill="white"
								transform="translate(72 99)"></rect>
						</clipPath>
					</defs>
				</svg></a
			>
		</div>
	</div>
</BaseLayout>

<style>
	.dev-mode-button:hover span {
		position: relative;
	}
</style>
