---
const { number } = Astro.props;
---

<div class="overlap-group-wrapper border-2 border-black border-solid">
    <img class="mask-group" alt="Mask group" src="mask-group.png" />
    <div class="text-wrapper-9">{number}</div>
    <div class="product-wrapper">
        <div class="text-wrapper-10">PRODUCT</div>
    </div>
    <div class="p-ackaging-wrapper">
        <div class="text-wrapper-10">PACKAGING</div>
    </div>
    <div class="admin-wrapper">
        <div class="text-wrapper-10">ADMIN</div>
    </div>
    <img class="img" alt="Vector" src="vector.svg" />
</div>
