---
const { number, title } = Astro.props;
---

<div class="overlap-group-wrapper border-2 border-black border-solid">
    <img class="mask-group" alt="Mask group" src="mask-group.png" />
    <div class="text-wrapper-9">{number}</div>
    {title.split(" ").map((word) => <p class="bg-black text-white">{word}</p>)}
    <img class="vector" alt="Background image" src="./" />
</div>
