---

---

<div
    class="w-full h-full bg-red-500 fixed top-0 left-[100%] flex flex-col text-white justify-center items-center z-10"
    id="menu-drawer"
>
    <button class="absolute top-6 right-6" id="close-button">Close</button>
    <a href="/" class="font-normal"> Work </a>
    <a href="/about" class="font-normal"> About </a>
    <a href="/contact" class="font-normal"> Contact </a>
    <a href="/resume" class="font-normal"> Resumé </a>
</div>
