---
import logoImage from "../media/logo.svg";
---

<div class="navigation flex w-full justify-between">
    <a href="./"><img alt="logo" src={logoImage.src} /></a>
    <div class="flex gap-3">
        <a href="/work" class="text-wrapper">Work</a>
        <a href="/about" class="text-wrapper">About</a>
        <a href="/contact" class="text-wrapper">Contact</a>
        <a href="/" class="text-wrapper">Resumé</a>
    </div>
</div>
