---
import MenuDrawer from "./MenuDrawer.astro";
import Image from "astro/components/Image.astro";
import logoImage from "../assets/logo.svg";
---

<link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,600,0,0"
/>

<div
    class="w-full px-4 md:px-10 pt-2.5 pb-[11.89px] justify-between items-center flex"
>
    <a href="/"><Image class="w-12" src={logoImage} alt="logo" /></a>
    <div
        class="justify-start items-start leading-[30.58px] text-black text-2xl hidden md:flex gap-14"
    >
        <a href="/" class="font-normal"> Work </a>
        <a href="/about" class="font-normal"> About </a>
        <a href="/contact" class="font-normal"> Contact </a>
        <a href="/resume" class="font-normal"> Resumé </a>
    </div>
    <button class="block md:hidden" id="hamburguer"
        ><img src="" alt="" />
        <span
            class="material-symbols-outlined md-48 md-dark md-inactive text-3xl"
        >
            menu
        </span></button
    >
</div>
<MenuDrawer />

<script>
    const hamburguerButton = document.querySelector("#hamburguer");
    const menuDrawer = document.querySelector("#menu-drawer");
    const closeButton = document.querySelector("#close-button");
    const body = document.querySelector("body");

    hamburguerButton.addEventListener("click", () => {
        menuDrawer.classList.add("left-0");
        menuDrawer.classList.remove("left-[100%]");
        body.classList.add("overflow-hidden");
    });

    closeButton.addEventListener("click", () => {
        menuDrawer.classList.remove("left-0");
        menuDrawer.classList.add("left-[100%]");
        body.classList.remove("overflow-hidden");
    });
</script>
