<div class="navigation flex w-full justify-between">
    <div class="layer">
        <img class="union" alt="Union" src="./" />
    </div>
    <div class="flex gap-3">
        <a href="/work" class="text-wrapper">Work</a>
        <a href="/about" class="text-wrapper">About</a>
        <a href="/contact" class="text-wrapper">Contact</a>
        <a href="/" class="text-wrapper">Resumé</a>
    </div>
</div>
