:root {
    --body-body-lg-font-family: "Space Grotesk Variable", Helvetica;
    --body-body-lg-font-size: 22px;
    --body-body-lg-font-style: normal;
    --body-body-lg-font-weight: 400;
    --body-body-lg-letter-spacing: -0.22px;
    --body-body-lg-line-height: 138.99999856948853%;
    --body-body-md-font-family: "Space Grotesk", Helvetica;
    --body-body-md-font-size: 18px;
    --body-body-md-font-style: normal;
    --body-body-md-font-weight: 400;
    --body-body-md-letter-spacing: 0px;
    --body-body-md-line-height: 162.99999952316284%;
    --body-body-sm-font-family: "Space Grotesk", Helvetica;
    --body-body-sm-font-size: 14px;
    --body-body-sm-font-style: normal;
    --body-body-sm-font-weight: 400;
    --body-body-sm-letter-spacing: 0px;
    --body-body-sm-line-height: 162.99999952316284%;
    --body-body-xl-font-family: "Space Grotesk Variable", Helvetica;
    --body-body-xl-font-size: 32px;
    --body-body-xl-font-style: normal;
    --body-body-xl-font-weight: 400;
    --body-body-xl-letter-spacing: -0.32px;
    --body-body-xl-line-height: 150%;
    --heading-heading-lg-font-family: "Cabinet Grotesk Variable", Helvetica;
    --heading-heading-lg-font-size: 32px;
    --heading-heading-lg-font-style: normal;
    --heading-heading-lg-font-weight: 700;
    --heading-heading-lg-letter-spacing: 0px;
    --heading-heading-lg-line-height: 127.99999713897705%;
    --heading-heading-md-font-family: "Cabinet Grotesk Variable", Helvetica;
    --heading-heading-md-font-size: 22px;
    --heading-heading-md-font-style: normal;
    --heading-heading-md-font-weight: 700;
    --heading-heading-md-letter-spacing: 0px;
    --heading-heading-md-line-height: 127.99999713897705%;
    --heading-heading-sm-font-family: "Cabinet Grotesk Variable", Helvetica;
    --heading-heading-sm-font-size: 16px;
    --heading-heading-sm-font-style: normal;
    --heading-heading-sm-font-weight: 400;
    --heading-heading-sm-letter-spacing: -0.16px;
    --heading-heading-sm-line-height: 138.99999856948853%;
    --heading-heading-xl-font-family: "Cabinet Grotesk Variable", Helvetica;
    --heading-heading-xl-font-size: 52px;
    --heading-heading-xl-font-style: normal;
    --heading-heading-xl-font-weight: 700;
    --heading-heading-xl-letter-spacing: 0px;
    --heading-heading-xl-line-height: 129.99999523162842%;
    --heading-heading-xxl-font-family: "Cabinet Grotesk Variable", Helvetica;
    --heading-heading-xxl-font-size: 120px;
    --heading-heading-xxl-font-style: normal;
    --heading-heading-xxl-font-weight: 400;
    --heading-heading-xxl-letter-spacing: -1.2px;
    --heading-heading-xxl-line-height: 95.99999785423279%;
    --neutral: rgba(247, 247, 246, 1);
}