.footer {
    background: radial-gradient(50% 50% at 50% 50%, rgb(60, 91, 104) 18%, rgb(4, 8, 14) 100%);
    border-radius: 54px;
    height: 566px;
    position: relative;
    width: 1179px;
}

.footer .text-wrapper {
    color: #ffffff;
    font-family: var(--heading-heading-sm-font-family);
    font-size: var(--heading-heading-sm-font-size);
    font-style: var(--heading-heading-sm-font-style);
    font-weight: var(--heading-heading-sm-font-weight);
    left: 135px;
    letter-spacing: var(--heading-heading-sm-letter-spacing);
    line-height: var(--heading-heading-sm-line-height);
    position: absolute;
    top: 320px;
    white-space: nowrap;
}

.footer .div {
    color: #ffffff;
    font-family: var(--heading-heading-sm-font-family);
    font-size: var(--heading-heading-sm-font-size);
    font-style: var(--heading-heading-sm-font-style);
    font-weight: var(--heading-heading-sm-font-weight);
    left: 366px;
    letter-spacing: var(--heading-heading-sm-letter-spacing);
    line-height: var(--heading-heading-sm-line-height);
    position: absolute;
    top: 320px;
    white-space: nowrap;
}

.footer .text-wrapper-2 {
    color: #ffffff;
    font-family: var(--body-body-lg-font-family);
    font-size: var(--body-body-lg-font-size);
    font-style: var(--body-body-lg-font-style);
    font-weight: var(--body-body-lg-font-weight);
    left: 366px;
    letter-spacing: var(--body-body-lg-letter-spacing);
    line-height: var(--body-body-lg-line-height);
    position: absolute;
    top: 353px;
    white-space: nowrap;
}

.footer .let-s-start-creating {
    color: #ffffff;
    font-family: var(--heading-heading-xl-font-family);
    font-size: var(--heading-heading-xl-font-size);
    font-style: var(--heading-heading-xl-font-style);
    font-weight: var(--heading-heading-xl-font-weight);
    left: 132px;
    letter-spacing: var(--heading-heading-xl-letter-spacing);
    line-height: var(--heading-heading-xl-line-height);
    position: absolute;
    top: 142px;
    width: 639px;
}

.footer .text-wrapper-3 {
    color: #ffffff;
    font-family: var(--body-body-lg-font-family);
    font-size: var(--body-body-lg-font-size);
    font-style: var(--body-body-lg-font-style);
    font-weight: var(--body-body-lg-font-weight);
    left: 134px;
    letter-spacing: var(--body-body-lg-letter-spacing);
    line-height: var(--body-body-lg-line-height);
    position: absolute;
    top: 353px;
    white-space: nowrap;
}

.footer .text-wrapper-4 {
    color: #ffffff;
    font-family: var(--body-body-lg-font-family);
    font-size: var(--body-body-lg-font-size);
    font-style: var(--body-body-lg-font-style);
    font-weight: var(--body-body-lg-font-weight);
    left: 134px;
    letter-spacing: var(--body-body-lg-letter-spacing);
    line-height: var(--body-body-lg-line-height);
    position: absolute;
    top: 397px;
    white-space: nowrap;
}

.footer .text-wrapper-5 {
    color: #ffffff;
    font-family: var(--body-body-lg-font-family);
    font-size: var(--body-body-lg-font-size);
    font-style: var(--body-body-lg-font-style);
    font-weight: var(--body-body-lg-font-weight);
    left: 132px;
    letter-spacing: var(--body-body-lg-letter-spacing);
    line-height: var(--body-body-lg-line-height);
    position: absolute;
    top: 441px;
    white-space: nowrap;
}

.footer .text-wrapper-6 {
    color: #ffffff;
    font-family: var(--body-body-lg-font-family);
    font-size: var(--body-body-lg-font-size);
    font-style: var(--body-body-lg-font-style);
    font-weight: var(--body-body-lg-font-weight);
    left: 132px;
    letter-spacing: var(--body-body-lg-letter-spacing);
    line-height: var(--body-body-lg-line-height);
    position: absolute;
    top: 485px;
    white-space: nowrap;
}

.footer .vector {
    height: 46px;
    left: 128px;
    position: absolute;
    top: 68px;
    width: 62px;
}


.frame {
    background-color: #f7f6f5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.frame .div-2 {
    background-color: var(--neutral);
    height: 2152px;
    position: relative;
    width: 1440px;
}

.frame .navigation-instance {
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
}

.frame .div-3 {
    height: 545px;
    left: 135px;
    position: absolute;
    top: 807px;
    width: 1217px;
}

.frame .overlap-group-wrapper {
    height: 512px;
    left: 842px;
    position: absolute;
    top: 16px;
    transform: rotate(2.1deg);
    width: 365px;
}

.frame .overlap-group {
    height: 538px;
    left: -19px;
    position: relative;
    top: -13px;
    width: 402px;
}

.frame .mask-group {
    height: 524px;
    left: 9px;
    position: absolute;
    top: 7px;
    transform: rotate(-2.1deg);
    width: 383px;
}

.frame .text-wrapper-9 {
    -webkit-text-stroke: 5.66px #000000;
    color: #ffffff;
    font-family: "Karla-Bold", Helvetica;
    font-size: 61.2px;
    font-weight: 700;
    left: 58px;
    letter-spacing: 0;
    line-height: 54px;
    position: absolute;
    top: 32px;
    white-space: nowrap;
}

.frame .product-wrapper {
    align-items: center;
    background-color: #000000;
    display: inline-flex;
    gap: 3.04px;
    justify-content: center;
    left: 86px;
    padding: 3.04px;
    position: absolute;
    top: 393px;
    transform: rotate(2.4deg);
}

.frame .text-wrapper-10 {
    color: #ffffff;
    font-family: "Cabinet Grotesk Variable-Bold", Helvetica;
    font-size: 41.6px;
    font-weight: 700;
    letter-spacing: -2.92px;
    line-height: 30.8px;
    margin-top: -0.3px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.frame .p-ackaging-wrapper {
    align-items: center;
    background-color: #000000;
    display: inline-flex;
    gap: 3.04px;
    justify-content: center;
    left: 84px;
    padding: 3.04px;
    position: absolute;
    top: 442px;
    transform: rotate(-7.27deg);
}

.frame .admin-wrapper {
    align-items: center;
    background-color: #000000;
    display: inline-flex;
    gap: 3.04px;
    justify-content: center;
    left: 193px;
    padding: 3.04px;
    position: absolute;
    top: 474px;
    transform: rotate(2.43deg);
}

.frame .img {
    height: 520px;
    left: 13px;
    position: absolute;
    top: 10px;
    transform: rotate(-2.1deg);
    width: 376px;
}

.frame .overlap-wrapper {
    height: 512px;
    left: 14px;
    position: absolute;
    top: 23px;
    transform: rotate(3.1deg);
    width: 365px;
}

.frame .overlap {
    height: 550px;
    left: -28px;
    position: relative;
    top: -20px;
    width: 420px;
}

.frame .mask-group-2 {
    height: 530px;
    left: 14px;
    position: absolute;
    top: 10px;
    transform: rotate(-3.1deg);
    width: 392px;
}

.frame .text-wrapper-11 {
    -webkit-text-stroke: 5.66px #000000;
    color: #ffffff;
    font-family: "Karla-Bold", Helvetica;
    font-size: 61.2px;
    font-weight: 700;
    left: 67px;
    letter-spacing: 0;
    line-height: 54px;
    position: absolute;
    top: 39px;
    white-space: nowrap;
}

.frame .hydroponic-wrapper {
    align-items: center;
    background-color: #000000;
    display: inline-flex;
    gap: 3.04px;
    justify-content: center;
    left: 61px;
    padding: 3.04px;
    position: absolute;
    top: 360px;
    transform: rotate(-3.51deg);
}

.frame .dashboard-wrapper {
    align-items: center;
    background-color: #000000;
    display: inline-flex;
    gap: 3.04px;
    justify-content: center;
    left: 145px;
    padding: 3.04px;
    position: absolute;
    top: 445px;
    transform: rotate(2.43deg);
}

.frame .ad-MIN-wrapper {
    align-items: center;
    background-color: #000000;
    display: inline-flex;
    gap: 3.04px;
    justify-content: center;
    left: 196px;
    padding: 3.04px;
    position: absolute;
    top: 403px;
    transform: rotate(5.32deg);
}

.frame .farm-wrapper {
    align-items: center;
    background-color: #000000;
    display: inline-flex;
    gap: 3.04px;
    justify-content: center;
    left: 83px;
    padding: 3.04px;
    position: absolute;
    top: 405px;
    transform: rotate(-8.24deg);
}

.frame .redesign-wrapper {
    align-items: center;
    background-color: #000000;
    display: inline-flex;
    gap: 3.04px;
    justify-content: center;
    left: 101px;
    padding: 3.04px;
    position: absolute;
    top: 485px;
    transform: rotate(-1.56deg);
}

.frame .vector-2 {
    height: 521px;
    left: 20px;
    position: absolute;
    top: 16px;
    transform: rotate(-3.1deg);
    width: 380px;
}

.frame .div-wrapper {
    box-shadow: 11px 9px 0px #000000;
    height: 512px;
    left: 421px;
    position: absolute;
    top: 16px;
    transform: rotate(-5.48deg);
    width: 365px;
}

.frame .overlap-2 {
    height: 580px;
    left: -49px;
    position: relative;
    top: -35px;
    width: 462px;
}

.frame .mask-group-3 {
    height: 544px;
    left: 25px;
    position: absolute;
    top: 18px;
    transform: rotate(5.48deg);
    width: 412px;
}

.frame .text-wrapper-12 {
    -webkit-text-stroke: 5.66px #000000;
    color: #ffffff;
    font-family: "Karla-Bold", Helvetica;
    font-size: 61.2px;
    font-weight: 700;
    left: 88px;
    letter-spacing: 0;
    line-height: 54px;
    position: absolute;
    top: 54px;
    white-space: nowrap;
}

.frame .div-wrapper-2 {
    align-items: center;
    background-color: #000000;
    display: inline-flex;
    gap: 3.04px;
    justify-content: center;
    left: 269px;
    padding: 3.04px;
    position: absolute;
    top: 455px;
    transform: rotate(8.13deg);
}

.frame .massive-wrapper {
    align-items: center;
    background-color: #000000;
    display: inline-flex;
    gap: 3.04px;
    justify-content: center;
    left: 92px;
    padding: 3.04px;
    position: absolute;
    top: 447px;
    transform: rotate(-4.39deg);
}

.frame .messaging-wrapper {
    align-items: center;
    background-color: #000000;
    display: inline-flex;
    gap: 3.04px;
    justify-content: center;
    left: 66px;
    padding: 3.04px;
    position: absolute;
    top: 486px;
    transform: rotate(2.43deg);
}

.frame .app-wrapper {
    align-items: center;
    background-color: #000000;
    display: inline-flex;
    gap: 3.04px;
    justify-content: center;
    left: 291px;
    padding: 3.04px;
    position: absolute;
    top: 496px;
    transform: rotate(-4.07deg);
}

.frame .vector-3 {
    height: 527px;
    left: 34px;
    position: absolute;
    top: 27px;
    transform: rotate(5.48deg);
    width: 393px;
}

.frame .footer-instance {
    background-color: transparent !important;
    left: 130px !important;
    position: absolute !important;
    top: 1506px !important;
}

.frame .p {
    color: #000000;
    font-family: var(--body-body-xl-font-family);
    font-size: var(--body-body-xl-font-size);
    font-style: var(--body-body-xl-font-style);
    font-weight: var(--body-body-xl-font-weight);
    left: 376px;
    letter-spacing: var(--body-body-xl-letter-spacing);
    line-height: var(--body-body-xl-line-height);
    position: absolute;
    text-align: center;
    top: 531px;
    width: 687px;
}

.frame .hello-i-m-enrique {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    background: radial-gradient(50% 50% at 50% 50%, rgb(149, 186, 177) 0%, rgb(4, 26, 39) 100%);
    background-clip: text;
    color: transparent;
    font-family: var(--heading-heading-xxl-font-family);
    font-size: var(--heading-heading-xxl-font-size);
    font-style: var(--heading-heading-xxl-font-style);
    font-weight: var(--heading-heading-xxl-font-weight);
    left: 244px;
    letter-spacing: var(--heading-heading-xxl-letter-spacing);
    line-height: var(--heading-heading-xxl-line-height);
    position: absolute;
    text-align: center;
    text-fill-color: transparent;
    top: 249px;
    width: 951px;
}

.navigation {
    height: 113px;
    position: relative;
    width: 1440px;
}

.navigation .layer {
    height: 91px;
    left: 40px;
    position: absolute;
    top: 10px;
    width: 81px;
}

.navigation .union {
    height: 54px;
    left: 12px;
    position: absolute;
    top: 19px;
    width: 58px;
}

.navigation .frame {
    align-items: flex-start;
    display: inline-flex;
    gap: 52px;
    left: 959px;
    position: absolute;
    top: 40px;
}

.navigation .text-wrapper {
    color: #000000;
    font-family: var(--body-body-lg-font-family);
    font-size: var(--body-body-lg-font-size);
    font-style: var(--body-body-lg-font-style);
    font-weight: var(--body-body-lg-font-weight);
    letter-spacing: var(--body-body-lg-letter-spacing);
    line-height: var(--body-body-lg-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}