---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
    <main
        class="grid grid-cols-12 gap-4 bg-neutral-100 text-cyan-950 text-lg font-normal font-['Space Grotesk'] leading-[29.34px] w-full"
    >
        <h1
            class="text-[52px] font-bold font-['Cabinet Grotesk Variable'] leading-[67.60px] col-span-8 col-start-2"
        >
            Hydroponic Farm Admin Dashboard Redesign
        </h1>
        <div class="col-span-6 col-start-2">
            <div
                class="text-cyan-950 text-opacity-80 text-base font-normal font-['Cabinet Grotesk Variable'] leading-snug"
            >
                Overview
            </div>
            <p>
                A leading hydroponics company needed a complete overhaul of
                their admin dashboard. The existing system, while functional,
                struggled with a cluttered interface, a confusing information
                hierarchy, and numerous unused pages and modules. This led to
                user frustration and hindered productivity across all
                departments.
            </p>
            <p>
                I played a key role in the UX/UI redesign, focusing on
                streamlining workflows, improving usability, and building a
                scalable foundation for future growth.
            </p>
        </div>
        <div class="col-span-2">
            <div
                class="text-cyan-950 text-opacity-80 text-base font-normal font-['Cabinet Grotesk Variable'] leading-snug"
            >
                Role
            </div>
            <ul>
                <li>UX Design</li>
                <li>Visual Design</li>
                <li>UX Writing</li>
                <li>Workshop facilitator</li>
                <li>Prototyping</li>
                <li>Testing</li>
                <li>Frontend assistant</li>
                <li>Animator</li>
                <li>Documentation</li>
            </ul>
        </div>

        <div class="col-span-2">
            <div
                class="text-cyan-950 text-opacity-80 text-base font-normal font-['Cabinet Grotesk Variable'] leading-snug"
            >
                Date
            </div>
            <div>2022 - 2024</div>
        </div>
        <small
            class="col-start-2 col-span-3 text-cyan-950 text-opacity-70 text-sm font-normal font-['Space Grotesk'] leading-[22.82px]"
        >
            *Designs are blurred due to NDA
        </small>

        <img
            class="w-[1440px] h-[439px] col-start-1 col-span-12"
            src="https://via.placeholder.com/1440x439"
        />

        <h2
            class="col-span-4 col-start-2 text-[32px] font-bold font-['Cabinet Grotesk Variable'] leading-[40.96px]"
        >
            Navigating a Complex System
        </h2>
        <p
            class="col-span-6 text-cyan-950 text-lg font-normal font-['Space Grotesk'] leading-[29.34px]"
        >
            Our initial focus was on understanding the existing platform and its
            user base. Through workshops and user interviews, we discovered
            significant challenges for various user roles. The sheer volume of
            data was overwhelming, presented in a dense layer of technical
            jargon that made it difficult for non-technical users to understand.
            For me personally, traversing this complex terminology was a
            challenge, but it also helped solidify the depth and scale of the
            project. This understanding became crucial in designing a solution
            that catered to diverse user needs.
        </p>
        <img
            class="w-[1360px] h-[351px] col-start-1 col-span-12 rounded-[26px] blur-[5.37px]"
            src="https://via.placeholder.com/1360x351"
        />
        <div class="col-start-2 col-span-4">
            <h2
                class="text-cyan-950 text-[32px] font-bold font-['Cabinet Grotesk Variable'] leading-[40.96px]"
            >
                User-Centered Solutions
            </h2>
            <p
                class="text-cyan-950 text-lg font-normal font-['Space Grotesk'] leading-[29.34px]"
            >
                To address these challenges, we implemented a multi-faceted
                approach. Data prioritization based on user roles ensured each
                department could easily find and interpret the most critical
                information for their work. While we couldn't completely
                eliminate technical jargon, we strived to present it in a way
                that was clear and understandable to a broader user base.
                Development efforts were prioritized on high-impact features,
                including a robust shipment tracking system and performance
                dashboards. These empowered users to streamline workflows and
                make data-driven decisions.
            </p>
        </div>
        <div class="col-start-1 col-span-12 bg-blue-400 overflow-hidden">
            <img
                class="w-[362.57px] h-[269.74px] left-[1618px] top-[372px]"
                src="https://via.placeholder.com/363x270"
            />

            <img
                class="w-[382.27px] h-[257.19px] left-[-104.61px] top-[252.85px] origin-top-left rotate-[22.48deg]"
                src="https://via.placeholder.com/382x257"
            />
            <img
                class="w-[382.27px] h-[255.29px] left-[551px] top-[227.95px] origin-top-left rotate-[22.48deg]"
                src="https://via.placeholder.com/382x255"
            />
            <img
                class="w-[321.48px] h-[253.13px] left-[646.24px] top-[567.87px] origin-top-left rotate-[22.48deg]"
                src="https://via.placeholder.com/321x253"
            />
            <img
                class="w-[321.48px] h-[162.09px] left-[195.34px] top-[181.68px] origin-top-left rotate-[22.48deg]"
                src="https://via.placeholder.com/321x162"
            />
            <img
                class="w-[382.27px] h-[255.29px] left-[927.20px] top-[383.59px] origin-top-left rotate-[22.48deg]"
                src="https://via.placeholder.com/382x255"
            />
            <img
                class="w-[382.27px] h-[253.94px] left-[270.35px] top-[411.48px] origin-top-left rotate-[22.48deg]"
                src="https://via.placeholder.com/382x254"
            />
        </div>

        <div
            class="col-start-1 col-span-12 bg-slate-300 flex-col justify-center items-start grid grid-cols-12 gap-4"
        >
            <h2
                class="text-[22px] font-bold font-['Cabinet Grotesk Variable'] leading-7 col-start-4 col-span-6"
            >
                Building for the Future
            </h2>
            <p
                class="text-lg font-normal font-['Space Grotesk'] leading-[29.34px] col-start-4 col-span-6"
            >
                The redesigned platform wasn't just about aesthetics; it was
                about building a solid foundation for future growth. We
                established a comprehensive design system with reusable UI
                components and consistent interaction patterns. This ensured a
                cohesive user experience across the entire platform. Responsive
                design principles were also incorporated, guaranteeing optimal
                usability on desktops and tablets, catering to diverse work
                environments. Throughout the process, close collaboration with
                developers was maintained, ensuring technical feasibility and a
                seamless transition from design to implementation.
            </p>
        </div>
        <h2
            class="col-start-2 col-span-4 text-[32px] font-bold font-['Cabinet Grotesk Variable'] leading-[40.96px]"
        >
            Lessons Learned
        </h2>
        <p
            class="col-start-7 col-span-5 text-cyan-950 text-lg font-normal font-['Space Grotesk'] leading-[29.34px]"
        >
            While the redesigned platform delivered significant improvements,
            there were areas where the process could have been further
            optimized. Open and continuous communication across all teams would
            have streamlined collaboration and ensured everyone was aligned on
            goals. Additionally, a focus on setting realistic design goals at
            the outset, along with readily available code documentation, would
            have facilitated a smoother development process. Ultimately, this
            project solidified the importance of listening to user feedback at
            every stage of the design process. Understanding user pain points
            should be the driving force behind all design decisions, not simply
            making things look aesthetically pleasing.
        </p>

        <div class="col-start-1 col-span-12 bg-blue-400 grid grid-cols-3">
            <img
                class="w-[362.57px] h-[269.74px] left-[1618px] top-[372px]"
                src="https://via.placeholder.com/363x270"
            />

            <img
                class="w-[417.65px] h-[277.45px]"
                src="https://via.placeholder.com/418x277"
            />
            <img
                class="w-[417.65px] h-[289.85px]"
                src="https://via.placeholder.com/418x290"
            />
            <img
                class="w-[417.65px] h-[278.63px]"
                src="https://via.placeholder.com/418x279"
            />
            <img
                class="w-[417.35px] h-[287.78px]"
                src="https://via.placeholder.com/417x288"
            />
            <img
                class="w-[424px] h-[283px]"
                src="https://via.placeholder.com/424x283"
            />
            <img
                class="w-[424px] h-[277px]"
                src="https://via.placeholder.com/424x277"
            />
        </div>
        <div class="flex justify-center flex-col col-span-12">
            <p
                class="text-center text-cyan-950 text-lg font-normal font-['Space Grotesk'] leading-[29.34px]"
            >
                This project showcased my ability to navigate complex systems,
                translate user needs into actionable design solutions, and
                collaborate effectively within a cross-functional team. It also
                highlighted my understanding of the importance of continuous
                learning and improvement in the design process.
            </p>
            <img
                class="h-1 w-2 rotate-[2.47deg]"
                src="https://via.placeholder.com/320x530"
            />
        </div>
    </main>
</BaseLayout>
