---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
---

<div class="mx-7 bg-stone-50">
    <Navigation class="navigation-instance" union="union-2.svg" />
    <slot />
    <Footer class="footer-instance" vector="vector-4.svg" />
</div>
