---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
---

<div className="frame">
    <div className="div-2">
        <Navigation className="navigation-instance" union="union-2.svg" />
        <slot />
        <Footer className="footer-instance" vector="vector-4.svg" />
    </div>
</div>
