---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import "/src/styles/fonts.css";
import { ViewTransitions } from "astro:transitions";

const { title } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{"Enrique Mendoza — " + title}</title>
    </head>
    <body class="px-4 md:px-7 bg-stone-50 font-body overflow-x-hidden">
        <Navigation class="navigation-instance" union="union-2.svg" />
        <slot />
        <Footer
            class="footer-instance"
            vector="vector-4.svg"
            message="Let's start creating something amazing!"
        />
    </body>
</html>
